@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500&display=swap');


@media {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

body {
  background-color: rgb(245,245,245);
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: #0D4259;
  margin: 0;
}

h1 {
  color: #0D4259;
  font-size: 30px;
  font-weight: 500;
}

h2 {
  font-size: 25px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #007991;
}

a:hover {
  color: #FF6B6B;
}

.container {
  margin: 0 auto;
}

.card {
  background: white;
  border-radius: 5px;
  padding: 20px 50px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.1);
  margin: 20px 0;
}

.img-circle {
  border-radius: 50%;
  margin: 20px;
}

.text-center {
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 50px;
  margin: 10px 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;

}

.btn {
  background-color: #007991;
  color: white;
  border-radius: 15px;
  padding: 5px 15px;
}

.btn:hover {
  background-color: #FF6B6B;
  color: white;
}

.banner {
  background-image: url(https://cdn.statically.io/img/papers.co/wallpaper/papers.co-ng88-sea-water-beach-nature-bw-dark-wave-35-3840x2160-4k-wallpaper.jpg);
}
